<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800946260951-j7oihmtctabvg7nkq8aa4du9krimjgh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800946260951-j7oihmtctabvg7nkq8aa4du9krimjgh9</string>
	<key>API_KEY</key>
	<string>AIzaSyDx84fRbpijJD0jERgCOtTwMd2KCTaYw9s</string>
	<key>GCM_SENDER_ID</key>
	<string>800946260951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-2861d</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-2861d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800946260951:ios:8a1b6e9b2390599ccbd992</string>
</dict>
</plist>